<footer class="page-footer blue darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Zubiri-Manteo</h5>
                <p class="grey-text text-lighten-4">Donostiako Ikastetxe publiko bat gara eta Gros / Ulia / Ategorrieta / Egia auzoak barne hartzen ditugu. DBH, BATXILERGOA, ETA GOI MAILAKO ETA ERDI MAILAKO HEZIKETA ZIKLOAK eskaintzen ditugu.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="blue-text text-lighten-4">Links</h5>
                <ul>
                  <li><a class="blue-text text-lighten-1" href="#">Zentruari buruz</a></li>
                  <li><a class="blue-text text-lighten-1" href="#">Albisteak</a></li>
                  <li><a class="blue-text text-lighten-1" href="#">Hezkuntza eskaintza</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyleft
            <a class="grey-text text-lighten-4 right" href="https://github.com/edertxodw" title="Mi perfil de Github" target="_blank"><i class="material-icons">face</i></a>
            </div>
          </div>
        </footer>